{% if items|length > 0 %}
  <div class="flyntComponent boxPadding" id="filter{{ title|e }}" is="flynt-grid-posts-selector">
    <div class="container">
      {% if preContentHtml or preContentTitle %}
      <div class="preContent">
        <div class="preContentTitle">
          <h3>{{ preContentTitle }}</h3>
          <div class="separator"></div>
        </div>
        <div>{{ preContentHtml|e('wp_kses_post') }}</div>
      </div>
      {% endif %}
      {# <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div> #}
      <ul class="grid grid--columns{{ options.columns }}">
        {% for item in items %}
          <li class="grid-item {{ item.post_type }}">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <img class="content-image lazyload"
                  src="{{ item.thumbnail.src|resize(16) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                  data-sizes="auto">
                <div class="content-inner">
                  <div class="content-inner--info">
                    <div class="left">
                      {# <span class="content-title h4">{{ item.terms( {query:{taxonomy:'category', orderby:'name', order: 'ASC'}} )|join(', ') }}</span> #}
                      <span class="content-subtitle h4">{{ item.type.label }}</span>
                    </div>
                    <hr>
                    <div class="right">
                    <time class="content-date meta-date" datetime="{{ item.postDate|date("d.m.Y") }}">{{ item.postDate|date("d.m.Y") }}</time>
                    </div>
                  </div>
                  <div class="content-inner--title">
                    <h3 class="content-title">{{ item.title }}</h3>
                    <h4 class="content-subtitle">{{ item.subtitle }}</h4>
                  </div>
                  {# <p class="content-excerpt">{{ item.preview.read_more(false).length(18) }}</p> #}
                </div>
              </a>
              {# <footer class="content-footer">
                <span class="content-readingTime">
                  <i data-feather="clock"></i> {{ item.content | readingtime }} {{ labels.readingTime }}
                </span>
                <a href="{{ item.link }}" class="button button--link content-readMore" aria-hidden="true" tabindex="-1">{{ labels.readMore }}</a>
              </footer> #}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
