<div class="flyntComponent" is="flynt-grid-archive">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml }}
      </div>
    {% endif %}
    <ul class="grid">
      {% for item in items %}
        {% if item.image or item.pageLink %}
          <li class="grid-item">
            <a class="h3" href="{{ item.pageLink }}">
              <div class="content">
                {% if item.image %}
                  <img class="content-image lazyload"
                    src="{{ item.image.src|resizeDynamic(500) }}"
                    srcset="{{ placeholderImage(500, 500 / item.image.aspect) }}"
                    data-srcset="{{ function('wp_get_attachment_image_srcset', item.image.id) }}"
                    data-sizes="auto"
                    alt="{{ item.image.alt|e }}">
                {% endif %}
                {% if item.contentTitle %}
                  <div class="content-inner">{{ item.contentTitle|e }}</div>
                {% endif %}
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
