<div class="flyntComponent componentSpacing" is="flynt-grid-image-gallery">
  {% if preContentHtml %}
    <div class="preContent">
      {{ title }}
    </div>
  {% endif %}
  <div class="gallery">
    {% for image in images %}
      <div class="gallery-image">
        <figure class="figure">
          <img class="figure-image lazyload"
            src="{{ image.src|resizeDynamic(0, 683) }}"
            srcset="{{ placeholderImage(image.aspect * 683, 683) }}"
            data-srcset="
              {{ image.src|resizeDynamic(0, 1300) }} {{ (image.aspect * 1300)|round }}w,
              {{ image.src|resizeDynamic(0, 1024) }} {{ (image.aspect * 1024)|round }}w,
              {{ image.src|resizeDynamic(0, 750) }} {{ (image.aspect * 750)|round }}w,
              {{ image.src|resizeDynamic(0, 683) }} {{ (image.aspect * 683)|round }}w,
              {{ image.src|resizeDynamic(0, 512) }} {{ (image.aspect * 512)|round }}w,
              {{ image.src|resizeDynamic(0, 385) }} {{ (image.aspect * 385)|round }}w,
              {{ image.src|resizeDynamic(0, 250) }} {{ (image.aspect * 250)|round }}w"
            data-sizes="auto"
            alt="{{ image.alt|e }}">
          {% if image.caption %}
            <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
          {% endif %}
        </figure>
      </div>
    {% endfor %}
  </div>
</div>
