<div class="flyntComponent componentSpacing" is="flynt-grid-image-text">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml }}
      </div>
    {% endif %}
    <ul class="grid">
      {% for item in items %}
        {% if item.image or item.contentHtml %}
          <li class="grid-item">
            <div class="content">
              {% if item.image %}
                <img class="content-image lazyload"
                  src="{{ item.image.src|resizeDynamic(500) }}"
                  srcset="{{ placeholderImage(500, 500 / item.image.aspect) }}"
                  data-srcset="{{ function('wp_get_attachment_image_srcset', item.image.id) }}"
                  data-sizes="auto"
                  alt="{{ item.image.alt|e }}">
              {% endif %}
              {% if item.contentHtml %}
                <div class="content-inner">
                  {{ item.contentHtml|e('wp_kses_post') }}
                </div>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
