{% if items|length > 0 %}
<div class="flyntComponent"is="flynt-block-featured-post">
  <div class="container">
    {% for item in items %}
    <a href="{{ item.link }}" class="content-readMore" aria-hidden="true" tabindex="-1">
      <div class="cover">
        <img class="content-image lazyload"
          src="{{ item.thumbnail.src|resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
          data-sizes="auto">
      </div>
      <div class="box">
        <div class="box-inner">
          <h2 class="exhibition-title">{{ item.title }}</h2>
          <h3 class="exhibition-subtitle h3">{{ item.subtitle }}</h3>
          <div class="exhibition-info">
            {% if item.postType %}<h4 class="exhibition-subtitle">{{ item.postType }}</h4>{% endif %}
            {% if item.postDate %}<h4 class="exhibition-subtitle">{{ item.postDate|date("d.m.Y") }}</h4>{% endif %}
            {% if item.postTime %}<h4 class="exhibition-subtitle">{{ item.postTime|date("g:i a") }}</h4>{% endif %}
            <h4 class="label exhibition-subtitle">Current</h4>
          </div>
          {# <p class="content-excerpt">{{ item.preview.read_more(false).length(18) }}</p> #}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
