<div class="flyntComponent boxPadding" style="background-color: {{ backgroundColor }}" is="flynt-block-wysiwyg-two-col">
  <div class="container container--fullWidth">
    <ul class="list">
      {% for panel in repeaterPanels %}
        <li class="panel content">
        <div class="content-left">{{ panel.panelColumnLeft|e('wp_kses_post') }}</div>
        <div class="content-right">{{ panel.panelColumnRight|e('wp_kses_post') }}</div>
        </li>
      {% endfor %}
    </ul>
    {# <div class="content content-left">
      <div>{{ contentHtmlLeftTop|e('wp_kses_post') }}</div>
      <div>{{ contentHtmlLeftBottom|e('wp_kses_post') }}</div>
    </div>
    <div class="content content-right">
      <div>{{ contentHtmlRightTop|e('wp_kses_post') }}</div>
      <div>{{ contentHtmlRightBottom|e('wp_kses_post') }}</div>
    </div> #}
  </div>
</div>
