{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <section class="post-main">
      <h1 class="exhibition-title componentSpacing">{{ post.title }}</h1>
      <div class="exhibition-meta componentSpacing">
        <div class="artist">{{ post.subtitle }}</div>
        <div class="info">
          <span>{{ post.exhibitionType }}</span>
          <span>{{ post.exhibitionDate|date("d.m.Y") }}</span>
          <span>{{ post.exhibitionTime|date("g:i") }}</span>
        </div>
        </div>
      {% for component in post.meta('exhibitionComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h3>' ~ __('Related Posts') ~ '</h3>','taxonomies': post.categories(), 'options': {'columns': 4}}) }}
    </section>
  </article>
{% endblock %}
