{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <section class="digital-header" style="background-color: {{ post.backgroundColor }};">
      <h3>{{ post.type.labels.singular_name }}</h3>
      <h1 class="exhibition-title componentSpacing">{{ post.subtitle }}</h1>
      <h3>{{ post.title }}<h3>
    </section>
    <section class="post-main">
      {% for component in post.meta('onlinexhibitionComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h3>' ~ __('Related Posts') ~ '</h3>','taxonomies': post.categories(), 'options': {'columns': 4}}) }}
    </section>
  </article>
{% endblock %}
