{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockInterviewHeader', { post: post }) }}
    </header>
    <section class="post-main">
      <div class="interview-meta componentSpacing">
        <h3>{{ post.postType }}</h3>
        <h3>{{ post.postDate|date("d.m.Y") }}</h3>
      </div>
      {% for component in post.meta('interviewComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories(), 'options': {'theme': 'themeLight', 'columns': 3}}) }}
    </section>
  </article>
{% endblock %}
