<div class="flyntComponent" is="flynt-block-digital-hero-text">
  <div class="container">
    <div class="text">{{ content }}</div>
    <div class="buttons">
    {% for panel in buttonPanels %}
      <a class="linklink" href="{{ panel.linklink.url }}" target="_blank"><h2>{{ panel.linklink.title|e }}</h2></a>
    {% endfor %}
    {# <a class="linklink" href="{{ linklink.url }}" target="_blank"><h2>{{ linklink.title|e }}</h2></a>
    <a class="linklink" href="{{ linklink.url }}" target="_blank"><h2>{{ linklink.title|e }}</h2></a> #}
    </div>
  </div>
</div>
