<nav is="flynt-navigation-main" class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper navigationMain navigationMain-show">
    <div class="container">
      {% include 'Partials/_logo.twig' %}
      <div class="container-inner container-inner--center">
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="h4 menu-item {{ item.class }} {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        {% include 'Partials/_search.twig' %}
      {% endif %}
      </div>
      <div class="container-inner logologo">
        <img class="logologo-image" src="/wp-content/uploads/2022/06/F_BLACK.svg">
      </div>
      <div class="container-inner language">
        {% include 'Partials/_language.twig' %}
      </div>
      {% include 'Partials/_date.twig' %}
    </div>
  </div>
</nav>
